<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h2 mat-dialog-title>Ajouter une classe</h2>
    </div>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="row">
        <mat-form-field appearance="">
          <mat-label>Choisir une date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Choisir une heure</mat-label>
          <input matInput type="time" id="hours" class="form-control" mdbInput formControlName="hours"/>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="">
          <mat-label>Choisir la formation</mat-label>
          <select matNativeControl formControlName="formation">
            <option *ngFor="let opt of dataBaseService.formationsArray" [value]="opt.id">{{ opt.name }}</option>
          </select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width">
          <input matInput type="number" placeholder="Durée" formControlName="duration">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="">
          <mat-label>Nom du cours</mat-label>
          <input matInput type="text" placeholder="Titre du cours" formControlName="nameClass">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="">
          <mat-label>Choisir un type de classe</mat-label>
          <select matNativeControl formControlName="typeOfClass">
            <option *ngFor="let opt of dataBaseService.typeOfClassArray" [value]="opt.id">{{ opt.name }}</option>
          </select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="">
          <mat-label>Choisir un enseignant</mat-label>
          <select matNativeControl formControlName="nameTeacher">
            <option *ngFor="let opt of dataBaseService.nameTeacherArray" [value]="opt.id">{{ opt.first_name }} {{ opt.last_name }}</option>
          </select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="">
          <mat-label>Choisir une modalité</mat-label>
          <select matNativeControl formControlName="modality">
            <option *ngFor="let opt of dataBaseService.modalityArray" [value]="opt.id">{{ opt.name }}</option>
          </select>
        </mat-form-field>
      </div>
      <div class="modal-footer">
        <mat-dialog-actions>
          <div class="row">
            <button mat-button class="btn btn-primary" id="submit" (click)="submit()">Ajouter</button>
            <button mat-button class="btn btn-dark" id="cancel" (click)="close()">Annuler</button>
          </div>
        </mat-dialog-actions>
      </div>
    </form>
  </div>
</div>
